.bg-mine{
    background-color: #ddd;
}

.bg-mine2{
    background-color: #2C2C2C;
}

#lastSection .container i{
    font-size:22px ;
    border: solid #c9c9c967 1px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s ease-in-out, border 0.4s ease-in-out;
}

.info .col-md-4:hover i{
    background-color: #CA173B;
    border: #CA173B 1px solid;
}

#lastSection input{

    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    color: #495057;
    border: none;
    border-bottom: 1px solid #ced4da;
    outline:none;
    transition: border-color .5s ease-in-out;

}

#lastSection textArea {
    border: none;
    border-bottom: 1px solid #ced4da;
    outline: none;
    transition: border-color .5s ease-in-out;
    width: 100%;
    color: #495057;
}

.icons i{
    padding: 10px;
    color: white;
    border: solid 1px white;
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, border 0.4s ease-in-out;
}

.icons i:hover{
    background-color: #CA173B;
    border: #CA173B 1px solid;
}

#copyRight a{
    text-decoration:none;
    color: #CA173B;
}

/* media query */


/* @media all and (max-width:768px){
    #lastSection .main-info{
    display: none;        
    }

} */
